<div class="container-fluid p-5 row justify-content-center">
  <div class="col-md-8">
    <h1 class="text-center">
      <b>How to Properly Care for an Adopted Rescue Pet</b>
    </h1>
    <p class="text-center"><b>#AdoptDontShop</b></p>
  </div>
  <div class="container-fluid d-flex justify-content-center p-3 row">
    <div class="col-md-4 pb-3">
      <div class="container-fluid rounded-3 shadow bg-light p-5">
        <h4 class="text-center pb-3"><b>Do Visit the Veterinarian</b></h4>
        <p class="p-0 m-0 text-justify">
          Shortly after adopting any pet, you should bring them in to meet with
          an experienced veterinarian for a complete checkup. Most rescued dogs
          don't have a health history available, so this visit will make sure
          that they are healthy and happy.The vet can review any records from
          the adoption agency or shelter, do a health exam, update vaccinations,
          and answer your own questions. An early vet visit is especially
          important if the rescue agency had any health concerns to address.
        </p>
      </div>
    </div>
    <div class="col-md-4 pb-3">
      <div class="container-fluid rounded-3 shadow bg-light p-5">
        <h4 class="text-center pb-3"><b>Do Start Some Training</b></h4>
        <p class="p-0 m-0 text-justify">
          Attend training with your dog to build rapport and set rules for good
          behavior. Look for a positive training group that encourages family
          members to work directly with their dogs under supervision. If you
          aren't sure of your rescued pup's experience with other dogs or have
          specific behavior concerns, opt for one-on-one classes at first. But
          group classes are an excellent socialization tool.
        </p>
      </div>
    </div>
    <div class="col-md-4 pb-3">
      <div class="container-fluid rounded-3 shadow bg-light p-5">
        <h4 class="text-center pb-3"><b>Do Meet Other Animals</b></h4>
        <p class="p-0 m-0 text-justify">
          Are there other animals in the home? Carefully introduce them all one
          by one, keeping all pets under control of family members. Short,
          get-acquainted visits are best at first. And make sure that each
          animal has their own safe space where they can be at peace.Hold off on
          meeting other animals who don't live in the home for a few days. It
          may be too much excitement for the dog and confuse them. And you
          aren't used to their behaviors yet, so it's safer to get to know your
          new best friend first.
        </p>
      </div>
    </div>
    <div class="col-md-4 pb-3">
      <div class="container-fluid rounded-3 shadow bg-light p-5">
        <h4 class="text-center pb-3"><b>Do Set Boundaries</b></h4>
        <p class="p-0 m-0 text-justify">
          Your dog comes into your house with no preset knowledge of what you
          expect from them and what your rules are. But boundaries are normal
          and healthy for any pet, and dogs actually enjoy having them. They
          also make for a happier household.Before you bring a dog home, decide
          on a few basic house rules - things like where they are and aren't
          allowed to roam, where they'll sleep, what the walking and feeding
          schedules will be, and how much time they'll spend indoors and
          outside. And agree on a few basic commands everyone will use so that
          your new family member won't be confused by too many different
          instructions.
        </p>
      </div>
    </div>
    <div class="col-md-4 pb-3">
      <div class="container-fluid rounded-3 shadow bg-light p-5">
        <h4 class="text-center pb-3"><b>Don't Change Food Drastically</b></h4>
        <p class="p-0 m-0 text-justify">
          Find out what the dog was being fed where they were living. Start with
          that same food routine when you first come home. Talk with your
          veterinarian about how to gradually change to a new diet. This is
          often done by starting with a small portion of the new food, then
          mixing in gradually larger portions over the course of several days.If
          you notice any gastric upset, scale back the change and discuss it
          with your doggy doctor before moving forward.
        </p>
      </div>
    </div>
    <div class="col-md-4 pb-3">
      <div class="container-fluid rounded-3 shadow bg-light p-5">
        <h4 class="text-center pb-3"><b>Don't Make a Fuss</b></h4>
        <p class="p-0 m-0 text-justify">
          Having a new dog is exciting - both for you and for the dog. But try
          to keep a lid on the excitement to avoid overwhelming or confusing the
          pet. Don't invite lots of other people to come visit with the dog, and
          limit its interaction with other animals. Talk to your kids about the
          importance of not overwhelming the dog with play and attention when
          it's new to the house.Spend plenty of time together doing different,
          normal activities when your dog comes home. But don't stay home all
          the time to snuggle with your pup - they're likely to become
          distressed when you do finally leave. Instead, casually come and go on
          a normal schedule.Where can you start with your doggy adoption
          adventure? Talk with your veterinarian about the best way to ensure a
          great transition for you and the dog. At Angel Pet Hospital, we
          welcome new pets and their families. Call today to visit with our
          trained staff of animal experts.
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <section id="dangerousfood">
      <p class="text-big text-center">
        <b>17 Dangerous Foods That Your Dog Shouldn&apos;t Eat</b>
      </p>
      <div class="container-fluid d-flex justify-content-center">
        <img src="assets/badfood.png" />
      </div>
    </section>
    <section
      id="safefood"
      class="row d-flex justify-content-center"
    >
      <div class="col-md-8">
        <p class="text-big text-center">
          <b>17 Dangerous Foods That Your Dog Shouldn&apos;t Eat</b>
        </p>
        <p class="fs-3"><b>1. DO Consider Portion Sizes</b></p>
        <p class="text-justify">
          Based on caloric needs and the size and weight of your pet, food
          portion is something to consider. If you overfeed your dog, obesity
          may occur, leading to a host of health issues. Conversely, if you
          don’t feed your dog enough, your pet may become underweight and
          malnourished.
        </p>
        <p class="text-justify">
          The best way to determine the correct portion of dog food to offer is
          by consulting your veterinarian. Your vet may want to make adjustments
          depending upon your dog's activity levels and general health. For
          instance, a working dog or one that leads an active lifestyle may
          require larger food portions than one who lives a sedentary lifestyle.
        </p>
        <p class="fs-3">
          <b>2. DON'T Allow Your Dog Access While You're Eating</b>
        </p>
        <p class="text-justify">
          Don't allow your dog to beg for food while you're having family meals.
          Offer your dog a healthy and acceptable treat after you have had your
          meal. Doing so will prevent your pet from being offered high calorie
          foods that may lead to obesity.
        </p>
        <p class="text-justify">
          When you and your family sit down to breakfast, lunch or dinner, place
          your pet out of sight in a safe spot, such as a crate or another room.
          If you choose to use a crate, be sure your pet is crate trained first.
          If you prefer, use a baby gate to keep your dog from gaining access to
          the dinner table.
        </p>
        <p class="fs-3">
          <b>3. DO Complement Your Dog's Diet With Healthy People Food</b>
        </p>
        <p class="text-justify">
          You can supplement your dog's daily diet with some healthy people
          foods and snacks. Try to get your dog to accept vegetables that are
          high in antioxidants. Carrots are an excellent choice, and they may be
          offered as a mid-day treat or chopped and mixed with the dog's food.
          In addition, chewing on a raw carrot is good for dental health, as it
          helps to remove plaque.
        </p>
        <p class="text-justify">
          Offer your dog some chopped, cooked egg as a treat as well. Eggs offer
          protein for muscle and the biotin may also improve your pet's coat and
          skin. You might also want to chop up some cooked lean chicken as an
          occasional treat or addition to your dog's diet. Be careful not to
          offer your dog chicken bones, as they can splinter and become lodged
          in your pet's intestinal tract.
        </p>
        <p class="text-justify">
          Interested in other healthy food additions for your pet? Try an
          occasional offering of peanut butter, which offers the benefit of
          protein and vitamin E. A small offering of pumpkin now and then is
          another good option, as it is full of vitamins. Oatmeal may also be
          offered to your canine companion, but choose one with no added sugar.
        </p>
      </div>
    </section>
    <section id="bathe">
      <div class="container-fluid justify-content-center d-flex">
        <img src="assets/bathe.png" class="w-75" />
      </div>
    </section>
  </div>
</div>
<app-footer></app-footer>
